<launch>
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find home_work)/dwa_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find home_work)/dwa_param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find home_work)/dwa_param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find home_work)/dwa_param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find home_work)/dwa_param/move_base_params.yaml" command="load" />
    <rosparam file="$(find home_work)/dwa_param/local_planner_params.yaml" command="load" />
    <rosparam file="$(find home_work)/dwa_param/global_planner_params.yaml" command="load" />
  </node>
</launch>
